
td,tfoot th {
  text-align:center;
}
thead th {
  text-align:right;
}
.popup_background {
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.8;
  background-color: black;
  z-index: 1000;
  top:0;
  left:0

}
.popup_box {
  width:40%;
  border:2px solid black;
  border-radius: 5px;
  position: fixed;
  z-index: 1500;
  background-color: white;
  left:30%;
  top:30%;
  padding:2%;
}
.popup_header {
  font-size: 200%;
  font-weight: bold;
  color: black;
  position: relative;
  right:19%;

}
.popup_body {
  font-size: 150%;
  padding:10px;
  margin-top:5%;
}
.exit_icon {
float:right;
position: relative;
border:1px solid grey;
border-radius: 50px;
padding:5px;
}
.exit_icon:hover {
float:right;
position: relative;
border:2px solid black;
border-radius: 50px;
padding:5px;
color:orange;
}
.describtion {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 8px;
}
